In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.DataFrame(np.random.randn(5,3), 
                  index=list(range(1,6)),
                  columns=list('ABC'))

In [5]:
df

          A         B         C
1  0.500721 -1.083458 -0.303283
2  1.711531 -0.556128 -0.577066
3  0.355668  0.490510  1.896752
4  0.795241  0.015662 -0.213433
5  0.494003  1.244458  0.521918

In [6]:
df[df.B > 0]

          A         B         C
3  0.355668  0.490510  1.896752
4  0.795241  0.015662 -0.213433
5  0.494003  1.244458  0.521918

In [7]:
df.loc[2:3, 'B':'C']

          B         C
2 -0.556128 -0.577066
3  0.490510  1.896752

In [8]:
df.loc[2, 'B']

-0.5561280927311595

In [9]:
df.loc[2, 'B'] = 1

In [10]:
df

          A         B         C
1  0.500721 -1.083458 -0.303283
2  1.711531  1.000000 -0.577066
3  0.355668  0.490510  1.896752
4  0.795241  0.015662 -0.213433
5  0.494003  1.244458  0.521918

In [11]:
df.loc[df.B>0, 'C'] = 0

In [12]:
df

          A         B         C
1  0.500721 -1.083458 -0.303283
2  1.711531  1.000000  0.000000
3  0.355668  0.490510  0.000000
4  0.795241  0.015662  0.000000
5  0.494003  1.244458  0.000000