In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
mydata = np.random.randn(4, 3)

In [3]:
mydata

array([[-0.4605288 ,  1.85620947, -1.14192187],
       [ 2.15954357,  1.31027513, -0.03507123],
       [ 1.30457452,  0.79958196,  0.85888309],
       [ 0.14554092, -0.52940398,  0.11016099]])

In [4]:
list('ABCDE')

['A', 'B', 'C', 'D', 'E']

In [5]:
df1 = pd.DataFrame(mydata, columns=list('ABC'))

In [6]:
df1

          A         B         C
0 -0.460529  1.856209 -1.141922
1  2.159544  1.310275 -0.035071
2  1.304575  0.799582  0.858883
3  0.145541 -0.529404  0.110161

In [7]:
df2 = pd.DataFrame(np.random.randn(3,3), columns=list('ABC'))

In [8]:
df2

          A         B         C
0  1.310074 -0.229515 -0.126170
1  0.156782  0.642365  0.596223
2 -0.515389 -1.319269 -1.450610

In [9]:
df3 = pd.concat([df1, df2], axis=0)

In [10]:
df3

          A         B         C
0 -0.460529  1.856209 -1.141922
1  2.159544  1.310275 -0.035071
2  1.304575  0.799582  0.858883
3  0.145541 -0.529404  0.110161
0  1.310074 -0.229515 -0.126170
1  0.156782  0.642365  0.596223
2 -0.515389 -1.319269 -1.450610

In [11]:
df3.index = range(7)

In [12]:
df3

          A         B         C
0 -0.460529  1.856209 -1.141922
1  2.159544  1.310275 -0.035071
2  1.304575  0.799582  0.858883
3  0.145541 -0.529404  0.110161
4  1.310074 -0.229515 -0.126170
5  0.156782  0.642365  0.596223
6 -0.515389 -1.319269 -1.450610

In [13]:
df4 = pd.concat([df1, df2], axis=1)

In [14]:
df4

          A         B         C         A         B         C
0 -0.460529  1.856209 -1.141922  1.310074 -0.229515 -0.126170
1  2.159544  1.310275 -0.035071  0.156782  0.642365  0.596223
2  1.304575  0.799582  0.858883 -0.515389 -1.319269 -1.450610
3  0.145541 -0.529404  0.110161       NaN       NaN       NaN